<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

    
    <section style="background: url(/<%=blogContent.image%>); background-size: cover; background-position: center center; padding-top:20%" class="hero">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <h1 class="title-white shadow-sm" style="text-align:left;"><%=blogContent.title%>
                </h1>
            <p class="bodycopy-white pr-0"><%=blogContent.date%></p>
            </div>
          </div>
        </div>
      </section>

      <div class="container " style="margin-top:6%;">
          <div class="row" style="padding-right:10%;">
            <% blogContent.content.forEach(blogPara => {%>
               <p class="bodycopy-regular" ><%=blogPara%></p>
               <%});%>
              
          </div>
      </div>
<%- include partials/footer.ejs %>